/* Certifications.module.css */

.Certifications {
    padding: 2rem;
    margin-top: 24px;
    max-width: 100%;
}

.Header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-top: 6vh;
}

.Content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.Left, .Right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.Button:hover {
    background-color: #0056b3;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CertificateContainer {
    width: calc(1920px * 0.65); /* Fixed width for consistency */
    height: calc(1080px * 0.65); /* Fixed height for consistency */
    text-align: center;
    overflow: hidden;
    position: relative;
    animation: slide-left 0.5s ease-in-out;
}

.CertificateContainer.left {
    animation: slide-left 0.5s ease-in-out;
}

.CertificateContainer.right {
    animation: slide-right 0.5s ease-in-out;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.CertificateContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.CertificateDetails {
    text-align: center;
}

.CertificateDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.CertificateDetails p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.CertificateDetails a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.CertificateDetails a:hover {
    color: #0056b3;
}
