.ContactMe {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-top: 12vh;
}

.HeaderContainer{
  text-align: center;
}

.ContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
}

.Container{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}