.Home {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #0D54BE22, #20ECD322);
}

.Section {
  display: flex;
  border: 1px solid #aaaaaa;
}

.Container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.Header {
  text-align: center;
  padding-top: 10vh;
}

.ImageContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.Description {
  flex: 1;
}

.Image {
  object-fit: contain; /* Keep the image's aspect ratio intact */
}