.Projects {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 800px;
  padding: 10vh;
  gap: 24px;
  background-color: #343D68;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.Header {
  display: flex;
  flex-direction: row;
  gap:12px;
  align-items: center;
}

.Header h1 {
  color: white;
  font-size: x-large;
  font-weight: normal;
}

.HeaderContainer p {
  color: white;
}

.ContentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Card {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  min-height: 450px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1vh;
  border: 5px solid; /* Border width */
  border-image: linear-gradient(-45deg, #0D54BE, #20ECD3) 1;
  overflow: hidden;
  background-color: #262C4D;
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.ImageContainer {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures any overflow is hidden */
}

.Image {
  width: 100%;
  height: 300px;;
  object-fit: cover; /* Crops the image to fit the container while maintaining aspect ratio */
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity */
}

.Card:hover {
  transform: scale(0.95); /* Slight zoom on hover */
  opacity: 1.0;
  border-image: linear-gradient(90deg, #0D54BE, #20ECD3) 1;
}

.Card:hover .Image {
  opacity: 1.0;
  cursor: pointer;
  transform: scale(1.1); /* Slight zoom on hover */
}

.Card:hover .Description p {
  color: white;
}

.Card .Description {
  width: 100%;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.Description {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.Description div {
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid white;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.Description div:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  cursor: pointer;
  background-color: #212642;
}

.Description div:active {
  cursor: pointer;
  background-color: #1a1e35;
}

.Description p {
  display: inline-flex;
  flex-wrap: wrap;
  color: #ffffffc1;
  text-align: justify;
  display: -webkit-box; /* Use this for multi-line truncation */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Number of lines before truncating */
  line-clamp: 2;
}

.Description span {
  color: white;
}

@media (max-width: 768px) { 
  .ContentContainer {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 4vh;
  }

  .Projects {
    padding: 10vh 2vw;
  }

  .Header h1 {
    font-size: medium;
  }

  .Card {
    min-height: 400px;
    max-width: 90%; 
  }
  .Description p {
    font-size: small; /* Adjust font size on mobile */
  }
}

@media (max-width: 480px) {
  .Projects {
    padding: 10vh 2vw;
  }

  .Header h1 {
    font-size: small;
  }

  .Card {
    min-height: 350px;
    max-width: 100%;
  }

  .Description p {
    font-size: smaller;
  }
}



/* MODAL */
/* Modal Overlay */
.body-no-scroll {
  overflow: hidden;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Darker background for more focus */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden; /* Prevent scrolling of the background */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for visibility */
}

.ModalOverlay.open {
  width: 100%;
  visibility: visible;
}

.ModalOverlay.close {
  opacity: 0;
  width: 0%;
  visibility: hidden;
}