*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif; /* Optional: Apply a global font-family */
}

.App {
  /* You can add more styles specific to the App component here */
}
